<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Connect to Font Awesome CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">

  <hr>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <a class="btn btn-primary" href="/rock" role="button">Play Rock</a>
            </div>
            <div class="btn-group" role="group">
              <a class="btn btn-info" href="/paper" role="button">Play Paper</a>
            </div>
            <div class="btn-group" role="group">
              <a class="btn btn-primary" href="/scissors" role="button">Play Scissors</a>
            </div>
          </div>
        </div>
    </div>

  <hr>
    <div class="row">
        <div class="col-xs-6 col-md-offset-2 col-md-4">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title text-center"><%= @your_move %></h3>
            </div>
            <div class="panel body">
              <img class="img-responsive" width="100%" src="http://localhost:3000/assets/images/<%= @your_move %>.png">
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h3 class="panel-title text-center"><%= @computer_move %></h3>
            </div>
            <div class="panel body">
              <img class="img-responsive" width="100%" src="http://localhost:3000/assets/images/<%= @computer_move %>.png">
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="well lg text-center">
            <h1>
            <div class="label label-<%= @result_label %>">
              <%= @result %>
            </div>
            </h1>
          </div>
        </div>
    </div>

</div>

<%= yield %>

</body>
</html>
